# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
build/
dist/

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# local env files
.env*.local
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Coverage directory used by tools like istanbul
coverage/

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Miscellaneous
*.tgz
*.zip
*.tar.gz
*.rar
