# Ignore Python cache files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Virtual environment
venv/
myenv/

# Ignore environment variables
**/.env

# Ignore log files
**/*.log
app.log

# Ignore database files
**/*.sqlite3
**/*.db

# Ignore uploads or temporary files
**/uploads/
**/temp/

# Ignore IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

# Ignore backend dependencies
backend/__pycache__/
backend/venv/
backend/.env
backend/uploads/

# Ignore frontend dependencies (if applicable)

# dependencies
frontend/node_modules

# next.js
frontend/.next/
frontend/out/
frontend/v0-user-next.config.mjs

# production
frontend/build
frontend/dist/

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files
frontend/.env

# vercel
frontend/.vercel

# typescript
frontend/.tsbuildinfo
frontend/next-env.d.ts
